<div class="pe-5 ps-5">
<mat-card class="text-center">
    <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>
            <h3>SignUp</h3>
        </mat-card-title>
    </mat-card-header>
        <h4> {{ message }} </h4>
    <form class="d-grid justify-content-center"(ngSubmit)='register()' [formGroup]="signupForm">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="example@gmail.com" formControlName="email" [(ngModel)]="email"/>
              <mat-error *ngIf="form['email']?.errors?.['required']">Please enter valid email.</mat-error>
              <mat-error *ngIf="form['email']?.errors?.['minlength']">Minimal length is 4.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="password">
              <mat-error *ngIf="form['password']?.errors?.['required']">Please enter a valid password.</mat-error>
              <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password bestätigen</mat-label>
              <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" [(ngModel)]="confirmPassword">
              <mat-error *ngIf="form['confirmPassword']?.errors?.['required']">Please enter a valid password.</mat-error>
              <mat-error *ngIf="form['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not match.</mat-error>
              <button mat-icon-button type="button" matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Firma</mat-label>
              <input type="text" formControlName="company" [(ngModel)]="company" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Adresse</mat-label>
              <textarea type="text" formControlName="adress" [(ngModel)]="adress" matInput></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Stadt</mat-label>
              <input type="text" formControlName="city" [(ngModel)]="city" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Postleitzahl</mat-label>
              <input formControlName="zip" [(ngModel)]="zip" matInput>
              <mat-error *ngIf="form['zip']?.errors?.['pattern']">Only Numbers</mat-error>
            </mat-form-field>

        <div class="d-flex justify-content-center">
            <button mat-raised-button color="Primary" type="submit">Signup</button>
        </div>
    </form>
</mat-card>
</div>