<div class="container">
    <div class="row justify-content-center">
        <div class="col-xm-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email" required ngmodel email placeholder="Email eingeben" #emailInput="ngModel">
                            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger mt-2">
                                <div *ngIf="emailInput.errors?.['required']">Email ist erforderlich.</div>
                                <div *ngIf="emailInput.errors?.['email']">Bitte geben Sie eine gültige Email-Adresse ein.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Passwort</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Passwort eingeben" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordConfirm" class="form-label">Passwort bestätigen</label>
                            <input type="password" class="form-control" id="passwordConfirm" placeholder="Passwort bestätigen" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div>
                        <span>Email: {{ email }}</span>
                      </div>
                      <div>
                        <span>Password: {{ password }}</span>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
